/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

 body{
    background-color: rgb(245, 248, 252);
 }

 .footer{
     display:flex;
     justify-self: center;
     margin: auto;
     padding: 2em;
     text-align: center;
     width:fit-content;
     background-color: rgb(245, 248, 252);

 }

 .jumbotron {
    background-image: image-url("jumbotron_bg-2.jpg");
    background-size: cover;
    background-position: center center;
  }

  .myBackground{
    background-color:rgba(255, 253,308, 0.7);
    border-radius: 5px;
    width:fit-content;

  }
  .allApts{
    background-image: image-url("jumbotron_bg.jpg");
    background-size: cover;
    background-position: center center;
  }

  .aptNew{
    background-image: image-url("jumbotron_bg-3.jpg");
    background-size: cover;
    background-position: center center;
  }

  .myApts{
    background-image: image-url("jumbotron_bg-4.jpg");
    background-size: cover;
    background-position: center center;
  }